/*
    palettes:
        https://colorswall.com/palette/2082/

*/

:root {
    --background_color: rgb(35, 31, 41);
    --links: rgb(255, 255, 255);
    --text-larger: rgb(255, 255, 255);
    --text-smaller: #cacaca; 
    --links_hover: rgb(255, 0, 0);
    --main_color: rgb(42, 45, 49);
    
}



/* * {
    margin: 0;
    padding: 0;
} */

html, body {
    height: 100%;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background_color);
}
header {
    display: flex;
    flex-direction: row;
    background-color: var(--main_color);
    border-radius: 10px;
}
nav {
    margin-left: auto;
    margin-right: 20px;
}  

h1, h2, h3, h4 {
    color: var(--text-larger)
}

p, a, li {
    color: var(--text-smaller);
}
 
#logo {
    
    padding: 15px;
    margin-left: 25px;

    color: var(--text);
    font-size: larger;
    font-weight: bold;
}

#menu li {
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 25px;
}

.link {
    text-decoration: none;
    color: var(--links);

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;

    transition:.2s;
}

.link:hover, a:hover {
    color: var(--links_hover);
}



#content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;

    border-radius: 12px;

    background-color: var(--main_color);
    box-shadow: 0px 0px 93px -9px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: 0px 0px 93px -9px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 0px 0px 93px -9px rgba(0, 0, 0, 0.56);

}
.sub_content {
    display: flex;
    flex-direction: column;

    align-items: center;

}

.infoText {
    padding-left: 10%;
    padding-right: 10%;
}



#generatedPassword {
    text-align: center;
}

.owl-carousel {
    border-color: aqua;
    border: 10px;
    padding-top: 70px;
}

.carousel_text {
    position: absolute;
    top: 8px;
    left: 16px;
    color: red;
}

.btn {
    margin: 10px;
}
.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: var(--background_color);
    color: var(--text-smaller);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: var(--background_color);
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

#footer {
    flex-shrink: 0;
    padding: 15px;
    text-align: center;
    background-color: var(--main_color);
}

